@import '../../variables';

.landing-container{
    font-family: 
    // $libre;
    'Domine', serif;
    @include flex-container;
    background-color:$primary-header-color;
    
    
    

}

.authentication-info{
    width:400px;
    height:600px;
    background-color: $primary-body-color;
    opacity:.9;
    border-radius: 10px;
    margin-bottom:300px;
    
}



.register, h3{
    @include spacing;
    
    
}

p{
    @extend %login-text;
}

.button{
    @include button;
}

.button:hover{
    background-color: rgba(179, 177, 177, 0.76);
    color:#101092de;
}