@import '../../variables';

.profile {
    font-family: $libre;
    // background-color:$primary-header-color;
    // width: 400px;
}



.button{
    @include button;
}

.button:hover{
    background-color: rgba(179, 177, 177, 0.76);
    color:$primary-header-color;
}