@import '../../variables';

.header-container {
    height: 125px;
    background-color: $primary-header-color;
    color:$primary-body-color;
    font-family: $libre;
   
    @include flex-container;
// @include google-font("Domine Serif");
   
}

h1{

   padding-left:20px;
   padding-top:35px;
   margin-top:0px;
   
}
.flex {

   box-sizing: border-box;
   padding-right:20px;
}

.nav-links{
    
    background-color: $primary-body-color;
    color: #101092de;
    

}

.headerfont{
    // /* font-family: 'Abril Fatface', cursive; */
    font-family: 
    $libre;
    // 'Domine', serif;
    // @include flex-container;
//     display: flex;
//    flex-direction: row;
//    justify-content: center;
}

.dropdown-toggle{
    background-color: $primary-body-color ;
    opacity: .7;
    color: $primary-header-color;
    border:0px;
    font-family: 'Domine', serif;

}
