.header-container {
    height: 125px;
    background-color: #101092de;
    color: white;
    /* margin-top:0px; */
    
   
}

h1{
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding-left:20px;
   padding-top:35px;
   margin-top:0px;
   
}
.flex {
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
   box-sizing: border-box;
   padding-right:20px;
}

.nav-links{
    
    background-color: #101092de;
    color: white;
    
    
    

}