@import '../../variables';

.flex-box{
    @include flex-container;
    @include spacing;
    // @include boxes;
    background-color: $primary-body-color;
    margin-top:0px;
    border-radius: 6px;
    
     
}

.recruiters-dashboard{
    padding: 20px;
    // margin:20px;
    // @include spacing;
    background-color: $primary-header-color;
    // color:$primary-body-color;

    
}

.stripe{
    @include spacing;
    
}

.name{
    font-size: 25px;
    font-weight: bold;
    font-family: $libre;
    
    // 'Libre Caslon Text', serif;
}

.box2{
    @extend %recruiter-text;
}



